<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <!-- <compilation debug="true" targetFramework="4.0" /> -->
    <modules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="configMsqlConexion" connectionString="Server=192.168.8.4;port=3306;Database=bdvialca;Uid=usrvialca;Pwd=pwsvialc@;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>